<ion-input
  [value]="_value()"
  [placeholder]="placeholder()"
  (ionInput)="onInput($event)"
  (ionBlur)="onBlur()"
></ion-input>

@if (showDropdown() && currentSuggestions().length > 0) {
  <ion-list class="absolute top-full left-0 right-0 z-50 border border-[var(--ion-color-medium-tint)] rounded-lg bg-[var(--ion-background-color)] shadow-sm max-h-[200px] overflow-y-auto">
    @for (suggestion of currentSuggestions(); track suggestion) {
      <ion-item
        button
        detail="false"
        (click)="selectSuggestion(suggestion)"
      >
        <ion-label>{{ suggestion }}</ion-label>
      </ion-item>
    }
  </ion-list>
}
