<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="px-2">
    <!--<ion-buttons slot="start">
      <ion-button (click)="openSettings()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>-->

    <ion-title class="text-center">
      <ion-select [value]="workspacesState.activeWorkspaceId()" interface="popover"
        (ionChange)="onWorkspaceChange($event)"
        class="max-w-full justify-center"
        style="--color: white; --placeholder-color: white; color: white; font-family: 'Pacifico', cursive; font-size: 1.25rem;">
        @for (ws of workspacesState.items(); track ws.workspaceId) {
        <ion-select-option [value]="ws.workspaceId">{{ ws.icon }} {{ ws.name }}</ion-select-option>
        }
      </ion-select>
    </ion-title>

    <!--<ion-buttons slot="end">
      <ion-button (click)="confirmLogout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>