<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="px-2">
    <ion-buttons slot="start">
      <ion-button (click)="openSettings()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="t-logo text-2xl font-normal font-pacifico">MyFinance</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-router-outlet></ion-router-outlet>
